# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.RedMonkeyGame.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\valer\RiderProjects\RedMonkeyGame\.idea\.idea.RedMonkeyGame\.idea/dataSources/
/dataSources.local.xml
